#search {
    display: flex;
    justify-content: center;
    height: 2rem;
}

img{
    width: 80px;
}

#forecast{
    display: flex;
}

#main{
    display: flex;
    justify-content: center;
    
}

#input{
    width: 400px;
}

#searchsection{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#history{
    justify-content: center;
    text-align: center;
    width: 300px;
    margin-top: 25px;
}

.searchentry{
    border: solid;
}

.searchentry:hover{
    background-color: teal;
    transition: 100ms;
}